@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #bab5b500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 12px;
}
html, body, #chat-root {
  background: transparent;  /* fully transparent */
  margin: 0;
  padding: 0;
}

html, body, #chat-root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent; /* important */
  -webkit-user-select: text;
}
