@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #bab5b500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 12px;
}
html, body, #root {
  background: transparent;  /* fully transparent */
  margin: 0;
  padding: 0;
}

.header {
  -webkit-app-region: drag;   /* makes header draggable */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  background: rgba(30, 30, 30, 0.95);
  border-radius: 12px;
}

.header button {
  -webkit-app-region: no-drag;  /* ensures buttons are clickable */
  cursor: pointer;
}

.header-container {
  height: 60px; /* match window height */
  display: flex;
  align-items: center;
}